<tr>
    <td>{{first_name}}</td>
    <td>{{last_name}}</td>
    <td>{{dob}}</td>
    <td><button id="patient-results-{{id}}" value="{{id}}" class="btn-patient-info btn btn-light">Patient info</button>
    </td>
</tr>